h1 {
  color: #202124;
  font-family: "Lobster", cursive;

  font-size: 40px;
}
p {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
}

ul {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li:first-letter {
  text-transform: capitalize;
}

.btn-margin {
  margin-top: 20px;
  margin-bottom: 30px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  background: #ced4f5;
}
.form-label {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 20px;
}
.faren {
  color: #202124;
  text-decoration: none;
}
.day-of-the-week {
  font-family: "Lobster", cursive;
  font-size: 28px;
}
.current-temperature {
  color: #202124;
  font-family: "Lobster", cursive;
  font-size: 52px;
  line-height: 2;
}

.units {
  color: #202124;
  font-family: "Lobster", cursive;
  font-size: 20px;
  top: -26px;
  position: relative;
}
